@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
  
.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}
.hnk-animation {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

p {
    margin-bottom: 0!important;
}
.hidden {
    visibility: hidden;
    display: none;
}

/*hungrynaki old*/
.hn-noti {
    position: fixed;
    z-index: 1110;
    width: 90%;
    max-width: 90%;
}

.hn-noti-position-top-center {
    top: 20px;
    left: 50%;
    right: 50%;
    /*border: 1px solid #f4f4f4;*/
    margin-left: -45%;
}
.hn-noti-position-top-left {
    top: 20px;
    left: 0;
    /*border: 1px solid #f4f4f4;*/
    z-index: 1110;
    margin-left: 2%;
}
.hn-noti-position-top-right {
    top: 20px;
    right: 0;
    /*border: 1px solid #f4f4f4;*/
    z-index: 1110;
    margin-right: 2%;
}
.hn-noti-position-bottom-center {
    bottom: 20px;
    left: 50%;
    right: 50%;
    /*border: 1px solid #f4f4f4;*/
    margin-left: -45%;
}
.hn-noti-position-bottom-left {
    bottom: 20px;
    left: 0;
    /*border: 1px solid #f4f4f4;*/
    margin-left: 2%;
}
.hn-noti-position-bottom-right {
    bottom: 20px;
    right: 0;
    /*border: 1px solid #f4f4f4;*/
    margin-right: 2%;
}
.hn-noti .oneNoti {
    position: relative;
    width: 100%;
    margin: 0 auto;
    /*border: 1px solid #dedede;*/
    border-radius: 4px;
    /*box-shadow: 0 0 20px #cfcdcd;*/
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    padding: 8px;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}
.hn-noti .oneNoti.success {
    background-color: #42ac58;
}
.hn-noti .oneNoti.error {
    background-color: #ec2028;
}
.hn-noti .oneNoti.warning{
    background-color: #FFB300;
}
    
.hn-noti .oneNoti .iconHolder{
    position: absolute;
    left: 11px;
    top: 5px;
    display: inline-block;
    color: #FFF;
    text-align: center;
    padding: 0px;
    border-radius: 50%;
}
    
.hn-noti .oneNoti .iconHolder > span {
    font-size: 22px;
    height: 25px;
    width: 25px;
    line-height: 26px;
    display: inline-block;
    display: none;
}
.hn-noti .oneNoti.success .iconHolder > .icon-success{
    display: inline-block;
}
.hn-noti .oneNoti.warning .iconHolder > .icon-error{
    display: inline-block;
}
.hn-noti .oneNoti.error .iconHolder > .icon-error{
    display: inline-block;
}
    
.hn-noti .oneNoti .msgbox{
    margin: 0 20px 0 38px;
}

.hn-noti .oneNoti .msgbox .msg {
    margin: 0;
    font-size: 14px;
    color: #42ac58;
    color: #FFF;
}
    
.hn-noti .oneNoti .notiCloser{
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 16px;
    color: #ccc;
    color: #FFF;
    cursor: pointer;
}
    
@media (min-width: 460px) {
    .hn-noti {
        width: 460px;
        max-width: 460px;
    }
    .hn-noti-position-top-center {
        margin-left: -230px;
    }
    .hn-noti-position-bottom-center {
        margin-left: -230px;
    }
    .hn-noti .oneNoti .iconHolder {
        top: 7px;
    }
    .hn-noti .oneNoti {
        padding: 10px 13px;
    }
    .hn-noti .oneNoti .msgbox {
        margin: 0px 40px 0 38px;
    }
    .hn-noti .oneNoti .notiCloser {
        top: 10px;
    }
    .hn-noti .oneNoti .msgbox .msg{
        font-size: 16px;
    }
}

/*ICON*/

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}